<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recruiters | All</title>

    <!--STYLES-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" th:href="@{/stylesheets/app.styles.css}">

</head>
<body>
<!--Insert Header-->
<div th:replace="fragments/header :: nav-header"></div>
<div id="main" class="container">
    <div class="card">
        <div class="card-image">
            <img src="images/ik.jpg" th:src="@{/images/ik.jpg}">
            <span class="card-title">Recruiters</span>
        </div>
        <ul class="collection card-content list-card-content">
            <li class="collection-item avatar valign-wrapper" th:each="recruiter : ${recruiters}">
                <img th:if="${recruiter.photoUrl != null}  " th:src="${(recruiter.photoUrl)}" alt="" class="circle">
                <i th:if="${recruiter.photoUrl == null}" class="large material-icons circle">person</i>
                <span class="title"
                      th:text="${recruiter.personal.firstName + ' ' + recruiter.personal.lastName}"></span>
                <div class="row secondary-content">
                    <a th:href="@{'/recruiters/' + ${recruiter.recruiterCode} + '/recruitment-request'}"
                       class="waves-effect waves-light btn ">Add Recruits</a>
                    <!--<a th:href="@{'/recruiters/' + ${recruiter.recruiterCode} + '/commission'}"-->
                    <!--class="waves-effect waves-light btn ">Commission</a>-->
                    <a class="waves-effect waves-light btn "
                       th:href="@{'/recruiters/' + ${recruiter.recruiterCode} + '/recruitment-record'}">Records</a>
                </div>
            </li>
        </ul>
    </div>
    <!-- Floating Action button to add recruiters-->
    <div id="recruiters-add-btn" class="fixed-action-btn">
        <a class="btn-floating btn-large red" th:href="@{/recruiters/new}">
            <i class="large material-icons">add</i>
        </a>
    </div>

</div>

<!--SCRIPTS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        th:src="@{/scripts/jquery.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"
        th:src="@{/scripts/materialize.min.js}"></script>
<script th:src="@{/scripts/recruiters.all.js}"></script>
</body>
</html>
