<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Harsha Amarasiri | Commission</title>

    <!--STYLES-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" th:href="@{/stylesheets/app.styles.css}">
</head>
<body>
<!--Insert header-->
<div th:replace="fragments/header :: nav-header"></div>

<div class="container">

    <div class="card">
        <div class="card-image">
            <img src="images/mercati.png" th:src="@{/images/mercati.png}">
            <span class="card-title">Commission Record</span>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"></span>
            <ul class="collapsible z-depth-0">
                <li>
                    <div class="collapsible-header row valign-wrapper price-table-header">
                        <div class="col s6 left-align"><i class="material-icons">group</i>Mason Recruitment
                        </div>
                        <div class="col s6 right-align">Amount</div>
                    </div>
                    <div class="collapsible-body price-table-body">
                        <table>
                            <tbody>
                            <tr>
                                <td>Commission</td>
                                <td th:text="${monthlyCommission.commission}" class="right-align">text</td>
                            </tr>
                            <tr>
                                <td> Bonus</td>
                                <td th:text="${monthlyCommission.bonus}" class="right-align">$0.87</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </li>

                <li>
                    <div class="collapsible-header row valign-wrapper price-table-header">
                        <div class="col s6 left-align"><i class="material-icons">filter_drama</i>Total
                        </div>
                        <div class="col s6 right-align"></div>
                    </div>

                </li>
            </ul>

        </div>
    </div>

</div>


<!--SCRIPTS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        th:src="@{/scripts/jquery.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"
        th:src="@{/scripts/materialize.min.js}"></script>
<script th:src="@{/scripts/recruiters.commission.js}"></script>
</body>
</html>
