<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recruiters | All</title>

    <!--STYLES-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" th:href="@{/stylesheets/app.styles.css}">

</head>
<body>
<!--Insert Header-->
<div th:replace="fragments/header :: nav-header"></div>
<div id="main" class="container">

    <div class="card">
        <div class="card-image">
            <img src="images/mercati.png" th:src="@{/images/mercati.png}">
            <span class="card-title">Add Workers</span>
        </div>
        <div class="card-content">
            <div class="row">
                <form class="col s12" th:action="@{'/recruiters/' + ${recruiterCode} + '/recruitment-request'}"
                      th:object="${recruitmentRequest}"
                      method="post">
                    <fieldset>
                        <div hidden>
                            <input type="hidden" name="recruiterId"
                                   th:if="${recruiter}"
                                   th:field="*{recruiter.getId}">
                            <input type="hidden" name="submissionDate" th:field="*{submissionDate}">
                            <input type="hidden" name="status" th:field="*{status}">
                            <input type="hidden" name="" th:field="*{version}">
                        </div>
                        <div class="valign-container recruit-form-container"
                             th:each="recruit,recruitstat : *{recruits}">
                            <div class="row">
                                <div class="input-field col s4">
                                    <input id="first_name" th:id="*{'first_name' + __${recruitstat.index}__}"
                                           type="text"
                                           class="validate"
                                           required
                                           minlength="1"
                                           maxlength="255"
                                           th:field="*{recruits[__${recruitstat.index}__].personal.firstName}">
                                    <label for="first_name" th:for="*{'first_name' + __${recruitstat.index}__}">First
                                        Name</label>
                                    <ul th:if="${#fields.hasErrors('recruits['+__${recruitstat.index}__+'].personal.firstName')}">
                                        <li th:each="err : ${#fields.errors('recruits['+__${recruitstat.index}__+'].personal.firstName')}">
                                            <span class="helper-text" data-error="has errors"
                                                  th:text="${err}">Error Message</span>
                                        </li>
                                    </ul>
                                    <span class="helper-text" data-error="has error"></span>
                                </div>
                                <div class="input-field col s4">
                                    <input id="last_name" th:id="*{'last_name' + __${recruitstat.index}__}"
                                           type="text"
                                           class="validate"
                                           required
                                           minlength="1"
                                           maxlength="100"
                                           th:field="*{recruits[__${recruitstat.index}__].personal.lastName}">
                                    <label for="last_name" th:for="*{'last_name' + __${recruitstat.index}__}">Last
                                        Name</label>
                                    <ul th:if="${#fields.hasErrors('recruits['+__${recruitstat.index}__+'].personal.lastName')}">
                                        <li th:each="err : ${#fields.errors('recruits['+__${recruitstat.index}__+'].personal.lastName')}">
                                            <span class="helper-text" data-error="has errors"
                                                  th:text="${err}">Error Message</span>
                                        </li>
                                    </ul>
                                    <span class="helper-text" data-error="has error"></span>
                                </div>
                                <div class="input-field col s4">
                                    <input id="nic" th:id="*{'nic' + __${recruitstat.index}__}"
                                           type="text"
                                           required
                                           class="validate"
                                           minlength="1"
                                           maxlength="100"
                                           pattern="[a-zA-Z0-9\s]+"
                                           th:field="*{recruits[__${recruitstat.index}__].nic}">
                                    <label for="nic" th:for="*{'nic' + __${recruitstat.index}__}">NIC</label>
                                    <ul th:if="${#fields.hasErrors('recruits['+__${recruitstat.index}__+'].nic')}">
                                        <li th:each="err : ${#fields.errors('recruits['+__${recruitstat.index}__+'].nic')}">
                                            <span class="helper-text" data-error="has errors"
                                                  th:text="${err}">Error Message</span>
                                        </li>
                                    </ul>
                                    <span class="helper-text" data-error="has error"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s4">
                                    <input id="mobile" th:id="*{'mobile' + __${recruitstat.index}__}"
                                           type="tel"
                                           required
                                           class="validate"
                                           minlength="1"
                                           maxlength="16"
                                           th:field="*{recruits[__${recruitstat.index}__].addressBook.mobilePhone}">
                                    <label for="mobile" th:for="*{'mobile' + __${recruitstat.index}__}">Mobile Phone
                                        Number</label>
                                    <ul th:if="${#fields.hasErrors('recruits['+__${recruitstat.index}__+'].addressBook.mobilePhone')}">
                                        <li th:each="err : ${#fields.errors('recruits['+__${recruitstat.index}__+'].addressBook.mobilePhone')}">
                                            <span class="helper-text" data-error="has errors"
                                                  th:text="${err}">Error Message</span>
                                        </li>
                                    </ul>
                                    <span class="helper-text" data-error="has error"></span>
                                </div>
                                <div class="input-field col s8">
                                    <input id="address" th:id="*{'address' + __${recruitstat.index}__}"
                                           type="text"
                                           required
                                           minlength="10"
                                           maxlength="700"
                                           class="validate"
                                           th:field="*{recruits[__${recruitstat.index}__].addressBook.addressLine1}">
                                    <label for="address"
                                           th:for="*{'address' + __${recruitstat.index}__}">Address</label>
                                    <ul th:if="${#fields.hasErrors('recruits['+__${recruitstat.index}__+'].addressBook.addressLine1')}">
                                        <li th:each="err : ${#fields.errors('recruits['+__${recruitstat.index}__+'].addressBook.addressLine1')}">
                                            <span class="helper-text" data-error="has errors"
                                                  th:text="${err}">Error Message</span>
                                        </li>
                                    </ul>
                                    <span class="helper-text" data-error="has error"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="right-align col s6">
                                    <select class="col s6"
                                            id="skills_group"
                                            required
                                            th:id="*{'skill_group' + __${recruitstat.index}__}"
                                            th:field="*{recruits[__${recruitstat.index}__].skillsGroup}">
                                        <option th:each="skillsGroup : ${skillsGroups}" th:value="${skillsGroup}"
                                                th:text="${skillsGroup}">Thymus Thymi
                                        </option>
                                    </select>
                                    <label for="skills_group"
                                           th:for="*{'skill_group' + __${recruitstat.index}__}">Skill Group</label>
                                    <span class="helper-text" data-error="has error"></span>
                                </div>
                                <div class="right-align col s6">
                                    <button class="btn waves-effect waves-light red" type="submit" name="removeRow">
                                        Remove
                                        <i class="material-icons right">remove</i>
                                    </button>
                                    <button class="btn waves-effect waves-light" type="submit" name="addRow">Add
                                        <i class="material-icons right">add</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="right-align col s12 submit-container">
                            <button class="btn waves-effect waves-light green" type="submit" name="action">Save
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>

        </div>


    </div>
</div>
<!--SCRIPTS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        th:src="@{/scripts/jquery.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"
        th:src="@{/scripts/materialize.min.js}"></script>
<script th:src="@{/scripts/recruiters.request.js}"></script>
</body>
</html>
