<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Recruiter</title>

    <!--STYLES-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" th:href="@{/stylesheets/app.styles.css}">

</head>
<body>
<!--Insert Header-->
<div th:replace="fragments/header :: nav-header"></div>
<div id="main" class="container">

    <div class="card">
        <div class="card-image">
            <img src="images/mercati.png" th:src="@{/images/mercati.png}">
            <span class="card-title">Add Recruiter</span>
        </div>
        <div class="card-content">
            <div class="row">
                <form class="col s12" th:action="@{/recruiters/new}" method="post" th:object="${recruiter}">
                    <div class="input-field col s6" hidden>
                        <input name="id" id="id" type="hidden" class="validate" th:if="${id}" th:field="*{id}">
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input name="personal.firstName"
                                   id="firstName"
                                   type="text"
                                   class="validate"
                                   required
                                   minlength="1"
                                   maxlength="255"
                                   th:field="*{personal.firstName}">
                            <label for="firstName">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input name="personal.lastName"
                                   id="lastName"
                                   type="text"
                                   class="validate"
                                   required
                                   minlength="1"
                                   maxlength="100"
                                   th:field="*{personal.lastName}">
                            <label for="lastName">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4">
                            <input name="nic"
                                   id="nic"
                                   type="tel"
                                   class="validate"
                                   required
                                   th:field="*{nic}">
                            <label for="mobilePhone">nic</label>
                        </div>
                        <div class="input-field col s4">
                            <input name="addressBook.email"
                                   id="email"
                                   type="email"
                                   class="validate"
                                   required
                                   maxlength="150"
                                   th:field="*{addressBook.email}">
                            <label for="email">Email</label>
                        </div>
                        <div class="input-field col s4">
                            <input name="addressBook.mobilePhone"
                                   id="mobilePhone"
                                   type="tel"
                                   class="validate"
                                   required
                                   th:field="*{addressBook.mobilePhone}">
                            <label for="mobilePhone">Mobile Phone Number</label>
                        </div>

                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="addressBook.addressLine1"
                                   id="address"
                                   type="text"
                                   class="validate"
                                   th:field="*{addressBook.addressLine1}">
                            <label for="address">Address</label>
                        </div>
                    </div>
                    <div class="row right-align">
                        <a class="waves-effect waves-light btn red darken-4" th:href="@{/recruiters/all}">Cancel</a>
                        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </form>
            </div>

        </div>


    </div>
</div>
<!--SCRIPTS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        th:src="@{/scripts/jquery.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"
        th:src="@{/scripts/materialize.min.js}"></script>
<script th:src="@{/scripts/recruiters.new.js}"></script>
</body>
</html>
