<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recruiters | All</title>

    <!--STYLES-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" th:href="@{/stylesheets/app.styles.css}">

</head>
<body>
<!--Insert Header-->
<div th:replace="fragments/header :: nav-header"></div>
<div id="main" class="container">
    <div class="card">
        <div class="card-image">
            <img src="images/ik.jpg" th:src="@{/images/mercati.png}">
            <span class="card-title"
                  th:text="${record.recruiter.personal.firstName + ' ' + record.recruiter.personal.lastName + ' - Recruitment Record'  }"></span>
        </div>
        <ul class="collection card-content table-card-content">
            <table>
                <thead>
                <tr>
                    <th>Recruit Name</th>
                    <th>NIC</th>
                    <th>Profession</th>
                </tr>
                </thead>

                <tbody th:each="recruit : ${record.recruits}">
                <tr>
                    <td th:text="${recruit.personal.firstName + ' ' + recruit.personal.lastName}"></td>
                    <td th:text="${recruit.nic}">nic</td>
                    <td th:text="${recruit.skillsGroup}">skill</td>
                </tr>
            </table>
            <div class="row right-align table-action-button">
                <a class="waves-effect waves-light btn"
                   th:href="@{'/recruiters/' + ${record.recruiter.recruiterCode} + '/monthly-commission'}">Commission</a>
            </div>
        </ul>
    </div>
    <!-- Floating Action button to add recruiters-->
    <div id="recruiters-add-btn" class="fixed-action-btn">
        <a class="btn-floating btn-large red" th:href="@{/recruiters/new}">
            <i class="large material-icons">add</i>
        </a>
    </div>

</div>

<!--SCRIPTS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        th:src="@{/scripts/jquery.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"
        th:src="@{/scripts/materialize.min.js}"></script>
<script th:src="@{/scripts/recruiters.all.js}"></script>
</body>
</html>
