/* Alignment*/
.margin-left-15 {
    margin-left: 15px;
}

.price-table-header {
    margin-bottom: 0px !important;
}

.price-table-body {
    padding-top: 0px !important;
    padding-right: 20px !important;
    padding-bottom: 0px !important;
}

.list-card-content {
    padding-top: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.table-card-content {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.table-action-button {
    margin-top: 15px !important;
}

.recruit-form-container {
    border-bottom: 1px solid lightgrey !important;
    padding-top: 10px !important;
}

.submit-container {
    padding-top: 10px !important;
}
