<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> CommissionTrack | Sign Up</title>

    <!--STYLES-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
</head>
<body>
<div class="container">
    <form name="" th:object="${user}" action="/signup" method="post">
        <div class="row">
            <div class="col s6 offset-s3">
                <div class="card offset-s3">
                    <div class="card-image">
                        <img
                            src="https://exit.al/en/wp-content/uploads/sites/3/2017/01/Screenshot-from-2017-01-17-15-45-51-1-747x436.png">

                    </div>
                    <div class="card-content">
                        <span class="card-title">Sign Up</span>
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="username"
                                       id="username"
                                       type="email"
                                       class="validate"
                                       required
                                       minlength="1"
                                       maxlength="255"
                                       th:field="*{username}">
                                <label for="username">Username</label>
                                <ul th:if="${#fields.hasErrors('username')}">
                                    <li th:each="err : ${#fields.errors('username')}">
                                            <span class="helper-text" data-error="has errors"
                                                  th:text="${err}">Error Message</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="password"
                                       id="password"
                                       type="password"
                                       class="validate"
                                       required
                                       minlength="5"
                                       maxlength="40">
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input name="personal.firstName"
                                       id="firstName"
                                       type="text"
                                       class="validate"
                                       required
                                       minlength="1"
                                       maxlength="255"
                                       th:field="*{personal.firstName}">
                                <label for="firstName">First Name</label>
                                <ul th:if="${#fields.hasErrors('personal.firstName')}">
                                    <li th:each="err : ${#fields.errors('personal.firstName')}">
                                            <span class="helper-text" data-error="has errors"
                                                  th:text="${err}">Error Message</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="input-field col s6">
                                <input name="personal.lastName"
                                       id="lastName"
                                       type="text"
                                       class="validate"
                                       required
                                       minlength="1"
                                       maxlength="100"
                                       th:field="*{personal.lastName}">
                                <label for="lastName">Last Name</label>
                                <ul th:if="${#fields.hasErrors('personal.lastName')}">
                                    <li th:each="err : ${#fields.errors('personal.lastName')}">
                                            <span class="helper-text" data-error="has errors"
                                                  th:text="${err}">Error Message</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="left-align col s6 submit-container">
                                <a id="signup" class="waves-effect waves-light btn-floating" href="/signup"><i
                                    class="material-icons left">keyboard_arrow_left</i></a>
                                <label class="right-align" for="signup">Sign In if you have an account</label>
                            </div>
                            <div class="right-align col s12 submit-container">
                                <button class="btn waves-effect waves-light green" type="submit" name="action">Sign Up
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
</body>
</html>
