<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" th:href="@{/stylesheets/app.style.css}">
</head>
<body>
<div class="navbar-fixed" th:fragment="nav-header">

    <!-- Drop Down-->
    <ul id="dropdown" class="dropdown-content">
        <li><a href="/logout">Logout</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper blue-grey darken-3">
            <a href="/recruiters/all" class="brand-logo margin-left-15">CommissionTrack</a>
            <ul class="right hide-on-med-and-down">
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown"><i
                    class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>
